 <!-- Toh1 Selling -->
 <div class="pagetitle">
 <h1>Choose your one of your decks on the left side to study.</h1>
 <br><br> 
<h1> Open the left side by clicking        <i class="bi bi-list toggle-sidebar-btn" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Not this one, click the one above"> </i>above
</h1>
 </div><!-- End Toh1 Selling -->
